<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.xjtuhelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.Login.InfoChangeActivity"></activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- 欢迎界面注册 -->
        <activity
            android:name=".WelcomeActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 登录界面注册 -->
        <activity
            android:name=".ui.Login.LoginActivity"
            android:noHistory="true"></activity> <!-- 主界面注册 -->
        <activity android:name=".MainActivity" /> <!-- 新闻内容界面注册 -->
        <activity android:name=".ui.News.NewsContentActivity" /> <!-- 对话界面注册 -->
        <activity android:name=".ui.Community.ChatActivity" />
    </application>

</manifest>